{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="w3-row-padding">
    <div class="w3-third w3-container">
        <h5> </h5>
    </div>
    <div class="w3-third">
    <form class="w3-container w3-card-4">
      <h2>Login Form</h2>
      <div class="w3-section">      
        <input class="w3-input" type="text" required>
        <label>Name</label>
      </div>
      <div class="w3-section">      
        <input class="w3-input" type="text" required>
        <label>Email</label>
      </div>
      <div class="w3-section">      
        <input class="w3-input" type="text" required>
        <label>Subject</label>
      </div>
    
    </form>
    </div>
</div>
{% endblock %}