{% extends "base.html" %}
{% block title %} Selection {% endblock %}
{% block content %}
<br>
<form class="w3-container w3-card-4" method="post">
    <br>
    <h2>Load Container</h2>
    <div class="w3-section">      
      <input class="w3-input" name="item_name" type="text" required>
      <label>Container Name</label>
    </div>
    <div class="w3-section">      
        <input class="w3-input" name="item_weight" type="number" required>
        <label>Container Weight</label>
    </div>
    <div class="w3-section">      
        <input class="w3-input" name="item_count" type="number" required>
        <label>Container Count</label>
    </div>
    <br></br>
    <div class="w3-center">
        <button class="w3-button w3-theme">Enter Container</button>
    </div>
    <br></br>

  </form>

  <br>
<div class="w3-container">
    <div class="w3-center">
        <h2>Container Action List</h2>
    </div>
    <div class="w3-responsive w3-card-4">
        <table class="w3-table w3-striped w3-bordered">
        <thead>
            <tr class="w3-theme">
                <th>Item Name</th>
                <th>Amount</th>
                <th>Load/Unload</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(row)%}
            <tr>
                {% for j in range(3)%}
                    <td id="data_{{i}}_{{j}}">{{data[i][j]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<div class="w3-center">
    <br><br>
    <a class="w3-button w3-theme" href="/home-selection">Back</a>
    <br><br>
</div>
<br><br>

{%endblock%}