{% extends "base.html" %}
{% block title %} Log {% endblock %}
{% block content %}
<br>
<form class="w3-container w3-card-4" method="post">
    <br>
    <h2>Creating New Log, Please Insert Year</h2>
    <div class="w3-section">      
        <input class="w3-input" name="log_year" type="number" required>
        <label>Current Year</label>
    </div>

    <br></br>
    <div class="w3-center">
        <button class="w3-button w3-theme">Create Log</button>
    </div>
    <br></br>

  </form>

  <br>
{%endblock%}