{% extends "base.html" %}
{% block title %} Table {% endblock %}
{% block content %}
<style>
    table, th, td {
      border: 5px solid black;
      padding: 5px;
    }
    table {
      border-spacing: 5px;
    }
    </style>

<div class="w3-row-padding">
    <div class="w3-third w3-container">
        <h5> </h5>
    </div>
    <div class="w3-third w3-container">
        <table style="width:100%">

            <tr>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:white;color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            </tr>
            <tr>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:yellowgreen;color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            </tr>
            <tr>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            </tr>
            <tr>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
                <td style="background-color:rgb(44, 174, 214);color:white;"></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}