{% extends "base.html" %}
{% block title %} Table {% endblock %}
{% block content %}
<style>
    table, th, td {
      border: 5px solid black;
      padding: 1px;
    }
    table {
      border-spacing: 3px;
    }
    </style>

<div class="w3-row-padding">
    <div class="w3-half w3-container">
        <h5> </h5>
    </div>
    <div class="w3-half w3-container">
        <table style="width:100%">
        {%for i in item%}
        <tr>
            {% for j in i%}
                <td style="background-color:{{color[0]}};color:white;">{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}