{% extends "base.html" %}
{% block title %} Selection {% endblock %}
{% block content %}

<br>
<div class="w3-col w3-card-4">
    
    <form class="w3-container w3-center" method="post">
        <br>
        <h2>Unload Container</h2>
        <!-- <br>
            <label class="w3-text-blue-grey"><b>Item to Unload</b></label>
            <input class="w3-input w3-border" type="text">
            
            <label class="w3-text-blue-grey"><b>Item Count</b></label>
            <input class="w3-input w3-border" type="number">
            <br>
            <button class="w3-btn w3-blue-grey">Submit Item</button>
            <br> -->
            <br>
            {% for i in range(8) %}
            <div>
                {% for j in range(12)%}
                <input type="checkbox" name="unload" value="{{content[i][j]}}__{{i}}_{{j}}">
                {% endfor %}   
            </div>
            {% endfor %}
            
            <br>
            <button class="w3-btn w3-blue-grey">Submit Selection</button>
            <br> 
            
        </form>
        <br>
</div>
        <br>
<div class="w3-container">
    <div class="w3-center">
        <h2>Container Action List</h2>
    </div>
    <div class="w3-responsive w3-card-4">
        <table class="w3-table w3-striped w3-bordered">
        <thead>
            <tr class="w3-theme">
                <th>Item Name</th>
                <th>Amount</th>
                <th>Load/Unload</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(row)%}
            <tr>
                {% for j in range(3)%}
                    <td id="data_{{i}}_{{j}}">{{data[i][j]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<div class="w3-center">
    <br><br>
    <a class="w3-button w3-theme" href="/home-selection">Back</a>
    <br><br>
</div>
<br><br>
{% endblock %}